<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
>

	<context:component-scan base-package="org.sg" />
    <!--<context:annotation-config />-->
    <!--<aop:aspectj-autoproxy/>-->

	<!--<bean id="baseDAO" abstract="true" class=" org.sg.dao.GenericDao"/>-->

	<!--<bean id="courseDao" class=" org.sg.dao.impl.CourseDaoImpl"/>-->
	<!---->
	<!--<bean id="courseService" class="org.sg.service.impl.CourseServiceImpl">-->
		<!--<property name="courseDao" ref="courseDao" />-->
	<!--</bean>-->
	<!---->
</beans>